.full-width-table {
  width: 100%;
  margin-top: 20px;
}

mat-card {
  margin: 20px;
  padding: 20px;
}

mat-card-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.due-over{
  background-color: #ffcccc !important; /* Light red */
}

.due-this-month {
  background-color: #fff5cc !important; /* Light yellow */
}
.paid-status {
  background-color: #d4edda; /* Light green */
}

.partial-status {
  background-color: #ccedf5; /* Light green */
}

.due-today{
     background-color: #fad2b0; 
}