
<div class="same-width-box ">
<div class="progress-wrapper">
  <mat-progress-bar
    mode="determinate"
    [value]="progressValue"
    color="primary"
    class="progress-bar"
  ></mat-progress-bar>

  <div class="steps-container">
    <div
      *ngFor="let step of steps; let i = index"
      class="step-circle"
      [class.active]="i <= currentStep"
      [style.left.%]="(i / (steps.length - 1)) * 100"
    >
      {{ i + 1 }}
    </div>
  </div>


  <div class="step-labels">
    <ng-container *ngFor="let step of steps; let i = index">
      <div
        *ngIf="i < steps.length - 1"
        class="step-label"
        [style.left.%]="((i + 0.5) / (steps.length - 1)) * 100"
      >
        {{ step.label }}
      </div>
    </ng-container>
  </div>
</div>
</div>

<div class="form-container">
  <h2>Add Experience</h2>
  <form [formGroup]="experienceForm" (ngSubmit)="onSubmit()">
    <!-- <mat-form-field appearance="fill">
      <mat-label>Experience ID</mat-label>
      <input matInput formControlName="experienceId" readonly required>
    </mat-form-field> -->
    <mat-form-field appearance="fill">
      <mat-label>Position</mat-label>
      <input matInput formControlName="position" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Company Name</mat-label>
      <input matInput formControlName="companyName" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Total Experience (years)</mat-label>
      <input matInput formControlName="totalExperience" type="text" step="0.1" required>
    </mat-form-field>
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="!experienceForm.valid">Save & Next</button>
    </div>
    <p *ngIf="showMessage" class="success-message">Experience added successfully!</p>
  </form>
</div>
