
/* .card-title {
  font-size: 1.2rem;
}

.card-footer button {
  transition: 0.3s ease;
}

.card-footer button:hover {
  transform: scale(1.1);
} */
.list-group-item {
  background-color: #fff;
}

.list-group-item + .list-group-item {
  border-top: 1px solid #eee;
}

.btn-group button {
  margin-left: 5px;
}

.table thead {
    background: linear-gradient(90deg, #007bff, #00c6ff);
    color: white;
  }

  .table-hover tbody tr:hover {
    background-color: #f8f9fa;
    transition: 0.3s;
  }

  .table td, .table th {
    vertical-align: middle;
  }
